@import "tailwindcss";

@keyframes rgbBorder {
    0% {
        border-color: #ff004c;
    }

    25% {
        border-color: #ff9900;
    }

    50% {
        border-color: #00ffe0;
    }

    75% {
        border-color: #0099ff;
    }

    100% {
        border-color: #ff00e6;
    }
}

.rgb-border-glow {
    animation: rgbBorder 2s linear forwards;
    border-width: 2px !important;
}

@keyframes clockPulse {
    0% {
        box-shadow: 0 0 0px rgba(255, 255, 255, 0.4);
    }

    50% {
        box-shadow: 0 0 12px rgba(255, 255, 255, 0.7);
    }

    100% {
        box-shadow: 0 0 0px rgba(255, 255, 255, 0.4);
    }
}

.clock-pulse {
    animation: clockPulse 0.9s ease-out forwards;
}